name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24.4'
      
      - name: Install golangci-lint
        run: curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.9.0
      
      - name: Run linter
        run: $(go env GOPATH)/bin/golangci-lint run ./...
      
      - name: Build
        run: go build -o hexlet-path-size ./cmd/hexlet-path-size
      
      - name: Test binary
        run: ./hexlet-path-size